<html>
    <head>
            <title>Tweet Filtering</title>
            <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>

    <body>
        <div id="nav-placeholder"></div>

        <section class="container">
            {{#each data}}
                <div class="row tweet">
                    <div class="avatar"><img src="{{avatar}}" class="img-rounded"></div>
                    <div>
                        <div>
                            <div class="date">{{formatDate time}}</div>
                            {{linkToUser name username}} @{{username}}<br>
                            {{showLinks text hashtags urls mentions media}}
                        </div>
                        <div class="image">
                            {{showImg media}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <script>
            $('#nav-placeholder').load('../static/html/nav.html');
        </script>
    </body>
</html>
