<html>
    <head>
        <title>Tweet Filtering: Statistics</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>

    <body>
        {{> nav}}

        <section class="container">
            <div class="row">
                <div class="stats-content">
                    Overall:
                    <div class="grey-text">
                        <div id="chart"></div>
                        <div align="center">
                            <span class="media">&#9724;</span> Tweets with Media ({{percentMedia}}%)<br>
                            <span class="retweets">&#9724;</span> Retweets ({{percentRetweets}}%)<br>
                            <span class="urls">&#9724;</span> Tweets with URLs ({{percentUrls}}%)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="stats-content">
                    Top {{numTop}} Hashtags:
                    <div class="rankings">
                        {{#each hashtagRanking as |item|}}
                            <div class="row rankings-entry">
                                <div class="col-xs-10 word-wrap">
                                    <a href="http://twitter.com/hashtag/{{item.[0]}}" target="_blank">#{{item.[0]}}</a>
                                </div>

                                <div class="col-xs-2 align-right">
                                    {{item.[1]}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="stats-content">
                    Top {{numTop}} URLs:
                    <div class="rankings">
                        {{#each urlRanking as |item|}}
                            <div class="row rankings-entry">
                                <div class="col-xs-10 word-wrap">
                                    <a href="{{item.[0]}}" target="_blank">{{item.[0]}}</a>
                                </div>

                                <div class="col-xs-2 align-right">
                                    {{item.[1]}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="stats-content">
                    Top {{numTop}} Tweets (by number of retweets):
                    <div class="rankings">
                        {{#each topTweets}}
                            <div class="row rankings-entry separate-line">
                                <div class="col-xs-10 word-wrap">
                                    <a href="http://twitter.com/{{username}}" target="_blank">@{{username}}</a><br>
                                    {{showLinks text hashtags urls mentions media}}
                                </div>

                                <div class="col-xs-2 align-right">
                                    {{retweet_count}}
                                </div>
                            </div>
                        {{/each}}

                        {{#ifNoData topTweets}}
                            <div align="center">There are no tweets that have been retweeted.</div>
                        {{/ifNoData}}
                    </div>
                </div>
            </div>
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js"></script>
        <script src="../static/js/radial-progress-chart.js"></script>
        <script>
            'use strict';

            let chart = new RadialProgressChart('#chart', {
                diameter: 160,
                stroke: {
                    width: 50
                },
                shadow: {
                    width: 0
                },
                animation: {
                    duration: 3500
                },
                series: [{
                    value: {{percentMedia}},
                    labelStart: 'Media',
                    color: {
                        solid: '#79e1f4',
                        background: '#d4ecfe'
                    }
                }, {
                    value: {{percentRetweets}},
                    labelStart: 'RT',
                    color: {
                        solid: '#e99ac2',
                        background: '#f1d2e3'
                    }
                }, {
                    value: {{percentUrls}},
                    labelStart: 'URLs',
                    color: {
                        solid: '#aee87a',
                        background: '#dff0cb'
                    }
                }]
            });
        </script>
    </body>
</html>
