body {
    padding-top: 60px;
    padding-bottom: 10px;
}

nav .container {
    margin-left: 0px;
}

.tweet {
    margin-top: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
}

.avatar {
    float: left;
    margin-right: 10px;
    width: 50px;
}

.avatar img {
    width: 100%;
}

.date {
    float: right;
    font-size: 10px;
    color: lightgrey;
}

.image {
    margin-top: 10px;
    text-align: center;
}

.image img {
    width: 50%;
    margin: 5px;
}

img {
    border: 0px;
}
