.stats-content {
    border: 1px solid lightgrey;
    margin: 5px;
    padding: 25px;
}

.remove-padding {
    padding: 0px;
}

.percentage {
    font-size: 50px;
    font-weight: bold;
    color: grey;
    text-align: center;
}

.rankings {
    width: 80%;
    margin: 10px auto;
    color: grey;
}

.rankings-entry {
    margin-top: 10px;
}

.align-right {
    text-align: right;
}

.word-wrap {
    word-wrap: break-word;
}

.separate-line {
    padding-bottom: 5px;
    border-bottom: 1px dotted lightgrey;
}

#chart {
    text-align: center;
    font-weight: bold;
}

.media {
    color: #79e1f4;
}

.urls {
    color: #aee87a;
}

.retweets {
    color: #e99ac2;
}

.grey-text {
    color: grey;
}
